.ant-picker-body {
  border: none !important;
}

.ant-picker-calendar thead th {
  padding: 5px 0 !important;
  font-size: 13px;
  font-weight: 700 !important;
  color: #6b7280 !important;
  background: #f3f6f9;
}
