.product__list__container {
  margin: 0 auto;
  max-width: calc(100vw - 360px);

  @media (min-width: 1280px) {
    max-width: calc(100vw - 800px);
  }

  @media (min-width: 1400px) {
    max-width: calc(100vw - 780px);
  }

  @media (min-width: 1600px) {
    max-width: calc(100vw - 830px);
  }
}
