.container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 12px;

  @media (min-width: 1900px) {
    height: 670px;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr 1fr;

    @media (min-width: 1900px) {
      grid-template-columns: 1fr;
    }
  }
}
