.sticky-toolbar > .jodit-toolbar__box {
  border-bottom: 1px solid #dadada;
  left: auto;
  position: sticky;
  z-index: 100 !important;
  top: 64px !important;
}

/* FIX LIST */
.reset-tw {
  .jodit-wysiwyg {
    ul {
      list-style: disc;
      padding-left: 1.5rem;
      margin: 0.5rem 0;
    }

    ol {
      list-style: decimal;
      padding-left: 1.5rem;
      margin: 0.5rem 0;
    }

    li {
      margin: 0.25rem 0;
    }
  }
}
