.banner__slide__wrapper {
  position: relative;

  :global(.slick-dots) {
    position: absolute;
    bottom: 20px;
  }

  :global(.slick-dots li.slick-active div) {
    background-color: white;
  }
}
